body {
	background-color: #e2e2e2;
}
#banner {
	background-color: white;
	opacity: 0.7;
}
h1 {
	text-align: center;
	font-style: bold;
	padding: 30px 0 30px 0;
	margin: 0;
}
#backgroundImage {
  min-height: 100%;
  min-width: 1200px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  img#backgroundImage {
    left: 50%;
    margin-left: -512px;
  }
}
.nav > li {
	font-size: 18px;
}
.container {
	position: relative;
	padding-bottom: 55px;
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
a:link {
	color: lightblue;
}
a:visited {
	color: lightblue;
}
a:hover {
	color: orange;
}
.quoteBox {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: rgba(28, 61, 114, 0.9);
	border-radius: 15px;
	padding: 15px;
	color: white;
}
.quoteBox img {
	max-width: 100%;
	margin-bottom: 15px;
}
#left-arrow {
	width: 50%;
	color: white;
	float: left;
	padding-left: 15%;
}
#right-arrow {
	width: 50%;
	color: white;
	float: left;
	padding-right: 10%;
	text-align: right;
}
.menuBox > div{
	background-color: rgba(28, 61, 114, 0.9);
	border-radius: 5px;
	padding: .1px 7px 10px 7px;
	margin-bottom: 20px;
	color: white;
}
.under {
	text-decoration: underline;
}
#mc_embed_signup input {
	/*margin-left: 20px;*/
	color: black;
}
#mc_embed_signup select {
	color: black;
}
#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 50px;
	background-color: white;
	text-align: center;
}
i {
	font-weight: 16px;
	margin: 10px 10px 0 10px;
}
#footer > p {
	margin: 10px 0 0 0;
}
.hidden {
	display: none;
}